@mixin font-face($family, $file, $weight: 400, $style: normal) {
  @font-face {
    font-family: "#{$family}";
    src: url("../src/font/#{$file}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}