<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/src/css/lib/swiper-bundle.min.css">
  <link rel="stylesheet" href="/dist/style.css">
</head>
<body>
  @@include('include/topbar.html')
  @@include('include/header.html')
  @@include('include/slidebar.html')
  @@include('include/banner.html')
  @@include('include/product.html')
  @@include('include/benefit.html')
  @@include('include/salebanner.html')
  @@include('include/blogsection.html')
  @@include('include/newsletter.html')
  @@include('include/footer.html')
  <!-- Dimmed -->
  <div class="dimmed"></div>
  <!-- // Dimmed -->
  <script src="/src/js/swiper-bundle.min.js"></script>
  <script src="/src/js/jquery-3.7.1.min.js"></script>
  <script src="/src/js/script.js"></script>
</body>
</html>