<section class="banner">
  <div class="inner">
    <div class="banner_card">
      <div class="banner_firt">
        <div class="banner_content">
          <h3 class="banner_title">Living Room</h3>
          <a class="banner_link" href="#none" aria-label="Link banner">Shop Now</a>
        </div>
        <div class="banner_img">
          <img class="img_banner" src="/src/img/banner_img_1.png" alt="banner 1">
        </div>
      </div>
      <div class="banner_last">
        <div class="banner_last_item">
          <div class="banner_content">
            <h3 class="banner_title">Bedroom</h3>
            <a class="banner_link" href="#none" aria-label="Link banner">Shop Now</a>
          </div>
          <div class="banner_img">
            <img class="img_banner" src="/src/img/banner_img_2.png" alt="banner 2">
          </div>
        </div>
        <div class="banner_last_item">
          <div class="banner_content">
            <h3 class="banner_title">Kitchen</h3>
            <a class="banner_link" href="#none" aria-label="Link banner">Shop Now</a>
          </div>
          <div class="banner_img">
            <img class="img_banner" src="/src/img/banner_img_3.png" alt="banner 3">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>