<section class="benefit">
  <div class="inner">
    <div class="benefit_detail">
      <div class="benefit_box">
        <span class="icon icon_shipping"></span>
        <div class="benefit_title">
          <h3 class="benefit_heading">Free Shipping</h3>
          <p class="benefit_desc">Order<br class="br_class"> above $200</p>
        </div>
      </div>
      <div class="benefit_box">
        <span class="icon icon_money"></span>
        <div class="benefit_title">
          <h3 class="benefit_heading">Money-back</h3>
          <p class="benefit_desc">30 days guarantee</p>
        </div>
      </div>
      <div class="benefit_box">
        <span class="icon icon_secure"></span>
        <div class="benefit_title">
          <h3 class="benefit_heading">Secure Payments</h3>
          <p class="benefit_desc">Secured <br class="br_class">by Stripe</p>
        </div>
      </div>
      <div class="benefit_box">
        <span class="icon icon_support"></span>
        <div class="benefit_title">
          <h3 class="benefit_heading">24/7 Support</h3>
          <p class="benefit_desc">Phone and<br class="br_class"> Email support</p>
        </div>
      </div>
    </div>
  </div>
</section>