<footer class="footer">
  <div class="inner">
    <!-- Footer top -->
    <div class="footer_top">
      <div class="footer_top_logo">
        <a class="logo_link" href="#none">
          <img class="img_logo" src="/src/img/3legant.png" alt="Logo">
        </a>
        <span class="footer_divider"></span>
        <a class="slogan_link" href="#none">Gift & Decoration Store</a>
      </div>
      <ul class="footer_list">
        <li class="footer_item"><a class="footer_item_link" href="#none">Home</a></li>
        <li class="footer_item"><a class="footer_item_link" href="#none">Shop</a></li>
        <li class="footer_item"><a class="footer_item_link" href="#none">Product</a></li>
        <li class="footer_item"><a class="footer_item_link" href="#none">Blog</a></li>
        <li class="footer_item"><a class="footer_item_link" href="#none">Contact Us</a></li>
      </ul>
    </div>
    <!-- // Footer top -->
    <!-- Footer bottom -->
    <div class="footer_bottom">
      <div class="footer_bottom_title">
        <p class="copyright">Copyright © 2023 3legant. All rights reserved</p>
        <div class="footer_bottom_terms">
          <a class="footer_bottom_link" href="#none">Privacy Policy</a>
          <a class="footer_bottom_link" href="#none">Terms of Use</a>
        </div>
      </div>
      <ul class="footer_list_icon">
        <li class="footer_icon_item">
          <a class="icon_link" href="#none">
            <span class="icon icon_instagram"></span>
          </a>
        </li>
        <li class="footer_icon_item">
          <a class="icon_link" href="#none">
            <span class="icon icon_facebook"></span>
          </a>
        </li>
        <li class="footer_icon_item">
          <a class="icon_link" href="#none">
            <span class="icon icon_youtube"></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- // Footer bottom -->
  </div>
</footer>