<section class="newsletter">
  <div class="inner">
    <div class="newsletter_content">
      <form class="newsletter_form">
        <h2 class="form_title">Join Our Newsletter</h2>
        <p class="form_text">Sign up for deals, new products and promotions</p>
        <div class="form_input">
          <span class="icon icon_email"></span>
          <input class="newsletter_input" type="email" placeholder="Email address">
          <button class="newsletter_button">Signup</button>
        </div>
      </form>
    </div>
  </div>
</section>