<section class="sale">
  <div class="inner">
    <div class="sale_banner">
      <div class="sale_banner_img">
        <img class="img_sale" src="/src/img/banner_sale.png" alt="Sale image">
      </div>
      <div class="sale_banner_title">
          <div class="sale_text">
            <p class="sale_label">SALE UP TO 35% OFF</p>
            <h3 class="sale_heading">HUNDREDS of<br> New lower prices!</h3>
            <p class="sale_desc">It’s more affordable than ever to give every room in your home a stylish makeover</p>
            <a class="banner_link" href="#none" aria-label="Link banner">Shop Now</a>
          </div>
      </div>
    </div>
  </div>
</section>